body {
  /* background-image: linear-gradient(to bottom right, lightgrey, grey); */
}

.bg-game {
  height: 100vh;
  /* height: 100%; */
  background-image: linear-gradient(to bottom right, lightgrey, grey);
}

/* Changed border width. (BZ) */
.cardContainer {
  border: 3px solid green;
  justify-content: center;
}

.formInput {
  width: 100%;
}

.card {
  margin-top: 30vh;
  margin-left: 30%;
  width: 60vw;
  max-width: 2000px;

}

.card-header {
  text-align: center;
}

.backHome {
  padding-left: 20%;
}

.card-body {
  max-width: 50%;
  margin-top: 100px;
}

.login-card {
  display: flex;
  justify-content: center;
}

.MuiTypography-root {
  margin-bottom: 1% !important;
  margin-top: 1% !important;
}

.rulesBox {
  display: flex;
  justify-content: end;
  margin-right: 1%;
}

.MuiCollapse-wrapperInner {
  background-color: #FAF9F6;
  z-index: 1;
  border: 5px solid green;
}

.MuiFormControlLabel-root {
  display: flex !important;
  justify-content: end !important;
}

.rulesTitle {
  display: flex;
  justify-content: center;
}

.gameCard {
  display: flex;
  justify-content: center;
}

.MuiTypography-body1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-qxh7fn {
  display: flex;
  justify-content: end;
  margin-right: 2%;
}

.rulesCard {
  height: auto !important;
}

/* for log in page */
@media only screen and (min-width: 600px) {
  .css-10ltm04-MuiToolbar-root {
    padding-left: 16px !important;
  }
}