.teamDog{
  border: 10px solid green;
  width: 20%;
  height: 30%;
  position: absolute;
  left: 1%;
  top:10%;
}

.teamCat{
  border: 10px solid green;
  width: 20%;
  height: 30%;
  position: absolute;
  right: 1%;
  top:10%;
}

.rules{
  border: 10px solid green;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 1%;
  top:45%;
}

.gameLog{
  border: 10px solid green;
  width: 20%;
  height: 40%;
  position: absolute;
  right: 1%;
  top:45%;
}

.cardContainer{
  border:10px solid green;
  justify-content: center;
}

.clueInput{
  margin-left: 20%;
  width: 50%;
}

.formInput{
  width: 86%;
  margin-left: 1%;
}


@media only screen and (max-device-width: 950px) and (orientation: portrait){
  .clueInput{
    width: 60%;
    margin-left: 20%;
  }

  .formInput{
    width: 80%;
  }

  .dogAgent{
    margin-top: -10%;
    scale: 70%;
  }
  
  .dogSpy{
    margin-top: -10%;
    scale: 70%;
  }

  .catAgent{
    margin-top: -10%;
    scale: 70%;
  }
  
  .catSpy{
    margin-top: -10%;
    scale: 70%;
  }
}

@media only screen and (max-device-width: 500px) and (orientation: portrait){
  body{
    height: 100vh;
  }

  .clueInput{
    width: 70%;
  }

  .formInput{
    width: 80%;
  }

  .teamDog{
    border: 10px solid red;
    margin-left: 5%;
    width: 40%;
    height: 25%;
    position: absolute;
    left: 1%;
    top:56%;
  }

  .rules{
    border: 10px solid red;
    margin-left: 5%;
    width: 40%;
    height: 20%;
    position: absolute;
    left: 1%;
    top:80%;
  }  

  .teamCat{
    border: 10px solid red;
    margin-right: 5%;
    width: 40%;
    height: 25%;
    position: absolute;
    right: 1%;
    top:56%;
  }

  .gameLog{
    border: 10px solid red;
    margin-right: 5%;
    width: 40%;
    height: 20%;
    position: absolute;
    right: 1%;
    top:80%;
  }
  .dogAgent{
    margin-top: -10%;
    scale: 70%;
  }
  
  .dogSpy{
    margin-top: -10%;
    scale: 70%;
  }

  .catAgent{
    margin-top: -10%;
    scale: 70%;
  }
  
  .catSpy{
    margin-top: -10%;
    scale: 70%;
  }
  }

  @media only screen and (max-device-height: 800px) and (orientation: portrait){
    .gameLog{
      border: 10px solid blue;
      margin-right: 5%;
      width: 33%;
      height: 30%;
      position: absolute;
      right: 28%;
      top:60%;
    }

    .teamDog{
      border: 10px solid blue;
      margin-left: 0.5%;
      width: 33%;
      height: 30%;
      position: absolute;
      left: 1%;
      top:60%;
    }

    .teamCat{
      border: 10px solid blue;
      margin-right: 0.5%;
      width: 33%;
      height: 30%;
      position: absolute;
      right: 1%;
      top:60%;
    }

    .rules{
      border: 10px solid blue;
      width: 80%;
      height: 10%;
      position: absolute;
      left: 5%;
      top: 90%;
    }  

    .dogAgent{
      margin-top: -10%;
      scale: 80%;
    }
    
    .dogSpy{
      margin-top: -20%;
      scale: 80%;
    }

    .catAgent{
      margin-top: -10%;
      scale: 80%;
    }
    
    .catSpy{
      margin-top: -20%;
      scale: 80%;
    }
  }

  @media only screen and (max-device-height: 700px) and (orientation: portrait){
    .gameLog{
      border: 10px solid yellow;
      margin-right: 5%;
      width: 33%;
      height: 25%;
      position: absolute;
      right: 28%;
      top:70%;
    }

    .teamDog{
      border: 10px solid yellow;
      margin-left: 0.5%;
      width: 33%;
      height: 25%;
      position: absolute;
      left: 1%;
      top:70%;
    }

    .teamCat{
      border: 10px solid yellow;
      margin-right: 0.5%;
      width: 33%;
      height: 25%;
      position: absolute;
      right: 1%;
      top:70%;
    }

    .rules{
      border: 10px solid yellow;
      width: 90%;
      height: 5%;
      position: absolute;
      left: 0.5%;
      top:95%;
    }  
    
    .dogAgent{
      margin-top: -20%;
      scale: 50%;
    }
    
    .dogSpy{
      margin-top: -25%;
      scale: 50%;
    }

    .catAgent{
      margin-top: -20%;
      scale: 50%;
    }
    
    .catSpy{
      margin-top: -25%;
      scale: 50%;
    }
  }

  .card{
    margin-top: 30vh;
    margin-left: 30%;
    width: 60vw;
    max-width: 2000px;
  
  }
  
  .formCard{
    display: flex;
    justify-content: space-around;
  }
  
  .card-header{
    text-align: center;
  }