.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  border: 5px solid white;
  width: 50%;
  position: absolute;
  top: 10%;
}

.right{
  border: 5px solid white;
  width: 20%;
  height: 30%;
  position: absolute;
  right: 1%;
  top:10%;
}

.left{
  border: 5px solid white;
  width: 20%;
  height: 30%;
  position: absolute;
  left: 1%;
  top: 10%;
}

.gameLog{
  border: 5px solid white;
  width: 20%;
  height: 40%;
  position: absolute;
  right: 1%;
  top:45%;
}

.card{
  border: 5px solid white;
  width: 55%;
  height: 65%;
  position: absolute;
  top: 20%;
}

.rules{
  border: 5px solid white;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 1%;
  top:45%;
}

.header {
  border: 5px solid white;
  width: 95%;
  position: absolute;
  top: 2%;
}

.lobby{
  position: absolute;
  left:5%;
}

.login{
  position: absolute;
  right:5%;
  top: 0%;
}